{% extends "base.html" %}

{% block content %}
    <h2>Your Products for Sale</h2>

    {% for product in products %}
    <table class="table table-striped">
        
        <tr>
            <th>Seller</th>
            <td>{{ product.seller.username }}</td>
        </tr>
        <tr>
            <th>Item</th>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>${{product.price}}</td>
        </tr>
        <tr>
            <th>In stock</th>
            <td>{{product.quantity}}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{product.description }}</td>
        </tr>
        <tr>
            
            <th> <form action="{{url_for('edit', product_id=product.id)}}" method="post">
                <input type="hidden" name="_method" value="EDIT">
                <input type="submit" value="Edit" class="btn btn-default pull-right">
              </form>
            </th>
            <td><form action="{{url_for('delete', product_id=product.id)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete" class="btn btn-danger">
              </form>
            </td>
        </tr>
    </table>
    {% endfor %}
{% endblock %}