{% extends "base.html" %}

{% block content %}
    <h1>Your Products for Sale</h1>

    <table class="table table-striped">
        {% for product in products %}
        <tr>
            <th>Seller</th>
            <td>{{ product.seller.username }}</td>
        </tr>
        <tr>
            <th>Item</th>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>${{product.price}}</td>
        </tr>
        <tr>
            <th>In stock</th>
            <td>{{product.quantity}}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{product.description }}</td>
        </tr>
        <tr>
            <th>Edit</th>
            <td><form action="{{url_for('delete', id=product.id)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete" class="btn btn-danger">
              </form>
            </td>
        </tr>
    </table>
    <!--
    <table class="table table-striped">
        
        {% for article in articles %}
          <tr>
            <td>{{article.id}}</td>
            <td>{{article.title}}</td>
            <td>{{article.author}}</td>
            <td>{{article.create_date}}</td>
            <td><a href="edit_article/{{article.id}}" class="btn btn-default pull-right">Edit</a></td>
            <td>
              <form action="{{url_for('delete_article', id=article.id)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete" class="btn btn-danger">
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>
    -->
    {% endfor %}
{% endblock %}